<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onCalculate()" #f="ngForm">
      <div class="row">
        <div class="col-sm-2 form-group">
          <label for="from">From</label>
          <input
            type="text"
            id="from"
            class="form-control"
            name="from"
            ngModel
            required
            (change)="onGetMultiple()"
            #from="ngModel"
          >
          <span class="help-block" *ngIf="!from.valid && from.touched">Please Enter a Valid Currency!</span>
        </div>
        <div class="col-sm-2 form-group">
          <label for="to">To</label>
          <input
            type="text"
            id="to"
            class="form-control"
            name="to"
            ngModel
            required
            [(ngModel)]="default"
            #to="ngModel"
          >
          <span class="help-block" *ngIf="!to.valid && to.touched">Please Enter a Valid Currency!</span>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            class="form-control"
            name="amount"
            ngModel
            required
            pattern="^[1-9]+[0-9]*$"
            #amount="ngModel"
          >
          <span class="help-block" *ngIf="!amount.valid && amount.touched">Please Enter a Valid Amount!</span>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-12">
          <label>Conversion Multiple: {{ multiple }}</label>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">Calculate</button> &nbsp;
          <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
    <br>
    <div class="col-sm-2 form-group">
      <label for="result">Result</label>
      <input
        type="number"
        id="result"
        class="form-control"
        name="result"
        [(ngModel)]="result"
        [disabled]="true"
      >
    </div>
  </div>
</div>
